/*---------------
Index styles
-----------------*/

.complete-viewport{
    height: 90%;
}

.slogan{
    color: rgb(183, 183, 157);
    font-family: 'Nova Slim', cursive;
    font-size: 200%;
    padding-top: 5%;
}

.subtitle{
    color: rgb(173, 173, 147);
    font-family: "Lora",sans-serif;
    font-size: 160%;
}

.content{
    color: rgb(163, 163, 137);
    font-family: "Hind Madurai",sans-serif;
    font-size: 160%;
}

.selected{
    color: #1498D5;
}

.btn-started{
    background-color: #1498D5;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
}

.to-login{
    color: #D73A6F;
    font-size: 160%;
    font-family: 'Lora', serif;
    text-shadow: 1px 1px #ff0000;;
}

.to-login:hover{
    color: rgb(183, 183, 157);
    cursor: pointer;
}
