/*---------------
Index styles
-----------------*/

.complete-viewport{
    height: 100%;
}

#demo{
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-inner{
    padding: 5%;
}

.slogan{
    color: rgb(183, 183, 157);
    font-family: 'Nova Slim', cursive;
    font-size: 200%;
    padding-top: 5%;
}

.subtitle{
    color: rgb(173, 173, 147);
    font-family: "Lora",sans-serif;
    font-size: 160%;
}

.content{
    color: rgb(163, 163, 137);
    font-family: "Hind Madurai",sans-serif;
    font-size: 160%;
}

.selected{
    color: #1498D5;
}

.btn-started{
    background-color: #1498D5;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
}

.to-login{
    color: #FF8315;
    font-size: 130%;
    font-family: 'Lora', serif;
    margin-top: 1%;
    margin-bottom: 5%;
    text-shadow: 1px 1px #B5184D;
}

.to-login:hover{
    color: rgb(183, 183, 157);
    text-shadow: 1px 1px rgb(163, 163, 137);
    cursor: pointer;
}
