/*---------------
UserIndex styles
----------------*/

.center-items {
    text-align: center;
    margin: auto;
    position: center;

}

.welcome-card{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #D73A6F;
    color: white;
}

.welcome-card h4{
    font-family: "Nova Slim",sans-serif;
}

.welcome-card h5{
    color: rgb(220,220,220);
    font-family: Lora,sans-serif;
}

.welcome-card p{
    color: rgb(200,200,200);
    font-family: "Hind Madurai",sans-serif;
}

.welcome-image{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-new{
    background-color: white;
    color: rgb(55,55,55);
    font-family: "Nova Slim",sans-serif;
}

.sorteos-list{

}