/*---------------
UserIndex styles
----------------*/
.backgroundUser{
    background-color:rgba(48,64,87,0.8) ;
}
.center-items {
    text-align: center;
    margin: auto;
    position: center;

}

.welcome-card {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FF8E0B;
    color: #FBFBFB;
}

.welcome-card h4 {
    font-family: "Nova Slim", sans-serif;
}

.welcome-card h5 {
    color: #FAFAFA;
    font-family: Lora, sans-serif;
}

.welcome-card p {
    color: #FAFAFA;
    font-family: "Hind Madurai", sans-serif;

}

.welcome-image {
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn-new {
    background-color: #FAFAFA;
    color: #424242;
    font-family: "Nova Slim", sans-serif;
}

.sorteos-list {
    width: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}