/*-------------
Toss4All styles
 --------------*/

.toss-content{
    padding-top: 2%;
    padding-bottom: 2%;

}
.resultPaper{
    background-color: #FF8E0B;
    height: 30em;
    padding:2em 0 0 1em;
    border-radius: 50px 20px;
}
.resultsList{
    height: 25em;
    background-color: #FF8E0B;
}

.head-title {
    color: #304057;
    font-family: "Lora",sans-serif;
    font-size: 30px;
    padding-top: 5%;
    padding-left: 5%;
}

@media screen and (min-width: 1500px) {
    .user-content {
        height: 72vh;
    }
}