/*--------------
TossPandA styles
 ---------------*/

.toss-content{
    padding-top: 2%;
    padding-bottom: 2%;
}

.head-title {
    color: #211836;
    font-family: "Lora",sans-serif;
    font-size: 30px;
    padding-top: 5%;
    padding-left: 5%;
}

@media screen and (min-width: 1500px) {
    .user-content {
        height: 72vh;
    }
}